.modal{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    &-overlay{
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 100;
        background: rgba(41, 41, 41, 0.6);
        cursor: pointer;
    }
    &-content{
        width: 90%;
        max-width: 1000px;
        position: relative;
        z-index: 101;
        background-color: var(--color-dark);
        padding: 30px 40px;
        border-radius: 10px;
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: minmax(200px, max-content) 1fr;
    }
    &-close{
        width: 52px;
        height: 52px;
        border: 2px solid var(--color-accent);
        border-radius: 100%;
        background-color: transparent;
        cursor: pointer;
        position: absolute;
        right: -42px;
        top: -54px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: border 0.3s ease-in-out;
        &--span{
            width: 2px;
            height: 31px;
            background-color: var(--color-accent);
            transition: background-color 0.3s ease-in-out;
            &:nth-child(1){
                transform: rotate(45deg);
            }
            &:nth-child(2){
                transform: rotate(-45deg);
            }
        }
        &:hover{
            border: 2px solid var(--color-warning);
            & .modal-close--span{
                background-color: var(--color-warning);
            }
        }
    }
    &-trailer{
        background-color: var(--bg-secondary);
        grid-column: 1 / 3;
        grid-row: 1;
        position: relative;
        &__iframe{
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 2;
        }
        &::after{
            content: 'There is no trailer 😨';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &-info{
        grid-column: 3 / 6;
        grid-row: 1;
        display: flex;
        flex-direction: column;
        &__name{
            font-size: 26px;
            margin: 0;
            margin-bottom: 10px;
            &-original{
                font-size: 16px;
                color: var(--color-accent)
            }
        }
        &__item{
            margin-bottom: 10px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 550px;
            &--time{
                margin-top: 20px;
            }
        }
    }
    &-description{
        grid-column: 1 / 6;
        grid-row: 2;
        display: flex;
        flex-direction: column;
        gap: 10px;
        &__title{
            font-size: 23px;
        }
        &__line{
            height: 5px;
            background-color: var(--color-accent);
            border-radius: 10px;
            width: 100%;
        }
        &__text{
            margin: 0;
        }
    }
}