.goods-cards__head-search {
    background-color: transparent;
    border: 1px solid var(--color-secondary);
    border-radius: 2px;
    color: var(--color-white);
    padding: 0px 8px;
    height: 40px;
    width: 100%;
    &-wrap{
        padding: 20px 25px;
        background-color: var(--color-dark);
        border-radius: 15px;
        width: 100%;
    }
}